
body {
    margin: 0;
    padding: 16px;
    font-family: Arial, sans-serif;
}

.container {
    max-width:600px;
    margin: 0 auto;
}

#form {
    display: flex;
    flex-direction: column;
    gap: 12px
}

#form input,
#form button {
    padding: 12px;
    font-size: 16px;
}

#form button {
    cursor: pointer;
}

#wall {
    margin-top: 20px
}



.wall-entry {
    margin-bottom: 12px;

}

.wall-name,
.wall-year {
    margin: 0;
}



@media (min-width: 600px) {
    #form {
        flex-direction: row;
    }

    #form input {
        flex: 1
    }

}